<?xml version="1.0"?>
<configuration>
  
  <configSections>
      <section name="section"  type="test.section" />
  </configSections>
  
  <appSettings>
    <!--(if target dev)><!-->
      <add key="settingOne" value="devSettingOne" />
      <add key="settingTwo" value="devSettingTwo" />
      <add key="settingThree" value="devSettingThree" />
    <!--<!(endif)-->

    <!--(if target test)>
      <add key="settingOne" value="testSettingOne" />
      <add key="settingTwo" value="testSettingTwo" />
      <add key="settingThree" value="testSettingThree" />
    <!(endif)-->

    <!--(if target staging)>
      <add key="settingOne" value="stagingSettingOne" />
      <add key="settingTwo" value="stagingSettingTwo" />
      <add key="settingThree" value="stagingSettingThree" />
    <!(endif)-->

    <!--(if target live)>
      <add key="settingOne" value="liveSettingOne" />
      <add key="settingTwo" value="liveSettingTwo" />
      <add key="settingThree" value="liveSettingThree" />
    <!(endif)-->
  </appSettings>
  
  <system.web>
    <!--(if target dev)><!-->
      <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" >
    <!--<!(endif)-->

    <!--(if target test || staging || live)>
      <compilation debug="false" defaultLanguage="c#" targetFramework="4.0" >
    <!(endif)-->

	<assemblies>
	  <add assembly="System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</assemblies>
      </compilation>
    
    <!--(if target dev)><!-->
      <customErrors defaultRedirect="Error.aspx"  mode="Off" >
    <!--<!(endif)-->
    <!--(if target test || staging || live)>
      <customErrors defaultRedirect="Error.aspx"  mode="RemoteOnly" >
    <!(endif)-->
      <error statusCode="404"  redirect="Unauthorized.aspx" />
    </customErrors>
    
    <httpModules>
      <add type="TwGenericImageHandler.ImageHandler"
           name="TwGenericImageHandler" />
      <remove name="TwGenericImageHandler" />
      <clear />
    </httpModules>
    
    <httpHandlers>
      <add verb="*" path="*.jpg" type="ImageHandler"/>
      <add verb="*" path="*.gif" type="ImageHandler"/>
    </httpHandlers>

  </system.web>

  <connectionStrings>
    <!--(if target dev)><!-->
      <add name="cnn"  connectionString="Intial Catalog = dev-database; Data Source = dev-server; Integrated Security = true" />
    <!--<!(endif)-->

    <!--(if target test)>
      <add name="cnn"  connectionString="Intial Catalog = test-database; Data Source = test-server; Integrated Security = true" />
    <!(endif)-->

    <!--(if target staging)>
      <add name="cnn"  connectionString="Intial Catalog = staging-database; Data Source = staging-server; Integrated Security = true" />
    <!(endif)-->

    <!--(if target live)>
      <add name="cnn"  connectionString="Intial Catalog = live-database; Data Source = live-server; Integrated Security = true" />
    <!(endif)-->
  </connectionStrings>
  
</configuration>
